<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenGuard - Frontpage</title>
    <link href="/stylesheet.css" rel="stylesheet">
</head>
<body>
    <!-- Drop down menu -->
    <nav class="DropDownMenu">
        
    </nav>

    <!-- Page header -->
    <div class="colored-box grid-3">
        <nav class="nav">
            <a href="forside.html">Frontpage</a>
            <a href="stats.html">Information</a>
            <a href="om.html">About</a>
        </nav>
        
        <div class="centered-div">
            <strong style="margin-bottom: 1%; margin-top: 1%;"><h1>KitchenGuard</h1></strong>
        </div>
    </div>

    <!-- Logo and header -->
    <div class="centered-div" style="z-index: 1;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F10%2F47%2FwEziqy.png&f=1&nofb=1&ipt=80e9bd4a6cdffd906dc72abfa19a0ed9e0cf919525e105ab0d91128dca031515"
        style="width: 100%; height: auto; position: relative; mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) -180%, rgba(0, 0, 0, 0) 100%);">
        <img src="/logo2.png" alt="" style="width: 20%; position: absolute;">
    </div>

    <!-- Login Form -->
    <button class="open-button" onClick="openForm()">Login</button>
    <div class="form-popup" id="loginForm">
        <!-- Login form -->
        <form action="/login" method="POST" class="form-container">
            <h1>Login</h1>
            <br>
            
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Indtast Username" name="username" required></input>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Indtast password" name="password" required></input>

            <button type="submit" class="btn">Login</button>
            <div style="display: flex; justify-content: space-between; margin-top: 2px; margin-bottom: 30px;">
                <a onClick="openOpretBruger()" style="color: #4DA6FF; text-decoration: none;">Create user</a>
            </div>
            <button type="button" class="btn cancel" onClick="closeForm()">Luk</button>
        </form>
    </div>



    <!-- Opret bruger form -->
    <div class="form-popup" id="opretBrugerForm" style="display: none;">
        <form action="/api/create_user" method="POST" class="form-container">
            <h1>Create User</h1>
            <br>
            
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="" name="username" required></input>

            <label for="phone_number"><b>Phonenumber</b></label>
            <input type="text" placeholder=" (+45)" name="phone_number" required></input>

            <label for="password"><b>password</b></label>
            <input type="password" placeholder="" name="password" required></input>

            <button type="submit" class="btn">Create user</button>

            <!-- Back to login -->
            <div style="display: flex; justify-content: space-between; margin-top: 2px; margin-bottom: 30px;">
                <a onClick="closeForm(); openForm()" style="color: #4DA6FF; text-decoration: none;">Login</a>
            </div>
            <button type="button" class="btn cancel" onClick="closeForm()">Luk</button>

        </form>
    </div>



    <script>
        function openForm() {
            document.getElementById("loginForm").style.display = "block";
            document.getElementById("opretBrugerForm").style.display = "none";
            document.getElementById("forgotPasswordForm").style.display = "none";
        }

        function closeForm() {
            document.getElementById("loginForm").style.display = "none";
            document.getElementById("opretBrugerForm").style.display = "none";
            document.getElementById("forgotPasswordForm").style.display = "none";
        }

        function openOpretBruger() {
            document.getElementById("loginForm").style.display = "none";
            document.getElementById("forgotPasswordForm").style.display = "none";
            document.getElementById("opretBrugerForm").style.display = "block";
        }

        function openForgotPasswordForm() {
            document.getElementById("loginForm").style.display = "none";
            document.getElementById("opretBrugerForm").style.display = "none";
            document.getElementById("forgotPasswordForm").style.display = "block";
        }

    </script>

</body>
</html>