<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KitchenGuard - About</title>
        <link href="/stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div class="colored-box grid-3">
            <nav class="nav">
                <a href="forside.html">Frontpage</a>
                <a href="stats.html">Information</a>
                <a href="om.html">About</a>
            </nav>
            
            <div class="centered-div">
                <strong style="margin-bottom: 1%; margin-top: 1%;"><h1>Kitchen Guard System</h1></strong>
            </div>
        </div>
        

        <div class="about-container">
            <img class="about-image" src="/logo2.png">
            <div class="about-title">Who are we?</div>
            <p class="about-text">
                In many households with elderly residents, kitchen-related accidents—such as unattended cooking or forgotten appliances—pose significant safety risks. 
                Age-related cognitive decline, memory lapses, and reduced mobility can make it difficult for individuals to respond quickly to such hazards. 
                As populations age and more people express a strong desire to remain in their own homes for as long as possible, there is a growing need for intelligent, 
                non-intrusive safety systems. These systems should offer passive monitoring and timely alerts to help prevent and handle accidents, enabling elderly individuals 
                to live independently while remaining as safe as possible.
            </p>
            <p class="about-text">

                This project addresses this need by developing a smart kitchen guard system designed specifically for elderly users. The system is capable of detecting potentially 
                dangerous situations and notifying caregivers or relatives in real time.
            </p>
            <p class="about-text">


                To achieve this, the system integrates Zigbee-enabled sensors to monitor kitchen activity and presence, a Raspberry Pi for local processing, and a Rust-based web-server 
                for managing alerts and remote notifications. Communication between components is handled using the MQTT protocol.
            </p>

        </div>
    </body>
</html>