<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenGuard - About</title>
    <link href="/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div class="colored-box">
        <nav>
            <a href="forside.html">Frontpage</a>
            <a href="stats.html">Information</a>
            <a href="om.html">About</a>
        </nav>
        
        <div class="centered-div">
            <strong style="margin-bottom: 1%; margin-top: 1%;"><h1>KitchenGuard</h1></strong>
        </div>
    </div>
    
    
    
    <div class="about-container">
        <img class="about-image" src="https://images.unsplash.com/photo-1682668938117-a45b79fb4476?auto=format&fit=facearea&w=400&h=400&facepad=3&q=80" alt="KitchenGuard team">
        <div class="about-title">Who are we?</div>
        <div class="about-text">
            We are a group of students, who has developed <b>KitchenGuard</b>, an advanced security system designed til keep track and supervise the use of the stove, and register if there are anyone watching the stove.
        </div>
        <div class="about-text">
            The system will alarm the user and eventually relatives, if a precarious situation occurs. Our goal with this project is to increase the security in the kitchen, and create comfort and peace of mind to its users and their relatives through tenologi and innocation
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    

</body>
</html>