<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenGuard - Statistik</title>
    <link href="/stylesheet.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <!-- Drop down menu -->
    <nav class="DropDownMenu">
        <button class="DropDownButton">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.thenounproject.com%2Fpng%2F1123247-200.png&f=1&nofb=1&ipt=01f476a25d20356b4901c217bd2fe9329571477b13b9006da797367ca4d2ddd4&ipo=images", style="width: 40; height:40px;">
        </button>

        <!-- Drop down menu buttons -->
        <nav class="DropDownMenuContent">
            <a href="forside.html">Forside</a>
            <a href="stats.html">Statistik</a>
            <a href="om.html">Om</a>
        </nav>
    </nav>

    <!-- Page header -->
    <div class="colored-box">
        <div class="centered-div">
            <h1 style="margin-bottom: 1%; margin-top: 1%;">Opsætningspanel</h1>
        </div>
    </div>


    <!-- Choose resident ID dropdown -->
    <div class="dropdown-container">
        <label for="resIdDropDown"><b>Vælg beboer ID</b></label>
        <select id="resIdDropDown" onchange="resSelectionHandler()">
            <option value="">
                Vælg Beboer
            </option>
        </select>
    </div>


    <!-- Statistik her -->
    <!-- <div id="params", class="CenterContainer", style="margin-left: 20%; margin-right: 20%;"></div> -->
    <div id="params" class="statTable"></div>

    <br>
    <br>

    <!-- div for statistic graph -->
    <div class="chartContainer" style="height: 500px">
        <canvas class="statChart" id="chart"></canvas>
    </div>


    <script>
        async function fetchResStats(ID) {
            if (!ID) return [];
            try {
                const response = await fetch(`/get_res_info`);
                if (!response.ok) {
                    throw new Error(`Failed to fetch stats for resident ID: ${ID}`);
                }

                const data = await response.json();
                
                let id_data = data[ID]
                console.log(`Fetched stats for resident ID: ${ID}`);
                return id_data;
            } catch (error) {
                console.error(`Error fetching stats for resident ID: ${ID}, with error: `, error);
                return [];
            }
        }
        
        // gives a dict with days, and how many times an alarm happened
        function AlarmsAmount(data) {
            const dateCounts = [];

            data.forEach((item) => {
                if (!item.timestamp) return;
                // short circuit if entry was not alarmed
                if (item.state != "Alarmed") return;

                const date = new Date(item.timestamp);
                const dateStr = date.toISOString().split("T")[0];
                if (!dateCounts[dateStr]) {
                    dateCounts[dateStr] = 0;
                }
                dateCounts[dateStr]++;
            })
            return dateCounts;
        }

        async function makeStatTable(ID) {
            console.log("Attempting to view for res_id: ", ID);
            var params = await fetchResStats(ID);
            console.log(params);

            var paramsContainer = document.querySelector("#params");

            /* Create table headers */
            var htmlTable = `
                <table>
                    <thead>
                        <tr>
                            <th>Tidskode</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            `;

            paramsContainer.innerHTML = htmlTable;
            var tableBody = paramsContainer.querySelector("tbody");

            for (var param of params) {
                tableBody.innerHTML += `
                    <tr>
                        <td>${param.time_stamp}</td>
                    </tr>
                `;
            }
        }

        function updateStatTable(data) {
            if (!Array.isArray(data) || data.length === 0) {
                console.error("Not able to update stat table, no data.");
                return;
            }

            const paramsContainer = document.querySelector("#params");
            console.log("Data in stat table: ", data);
            /* Create table headers */
            var htmlTable = `
                <table>
                    <thead>
                        <tr>
                            <th>Tidskode</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            `;

            paramsContainer.innerHTML = htmlTable;
            var tableBody = paramsContainer.querySelector("tbody");

            for (var param of data) {
                tableBody.innerHTML += `
                    <tr>
                        <td>${new Date(param.timestamp).toLocaleString()} ||  ${param.state}</td>
                    </tr>
                `;
            }
        }

        function updateStatChart(data) {
            const chartContext = document.getElementById("chart").getContext("2d");
            const activations = AlarmsAmount(data);
            console.log("alarms: ", data);
            console.log("formatted; ", activations);
            const labels = Object.keys(activations);
            const values = Object.values(activations);

            new Chart(chartContext, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Aktiveringer pr. dag",
                        data: values,
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scale: {
                        ticks: {
                        precision: 0
                        }
                    }
                }
            });
        }

        // fetch res info
        async function fetchResIds() {
            try {
                const response = await fetch("/get_res_info");
                if (!response.ok) {
                    throw new Error("Failed to fetch resident ID(s)");
                }

                const dat = await response.json();
                console.log("Fetched resident ID: ", dat);
                return dat;
            } catch (error) {
                console.error("Error fetching resident ID(s): ", error);
                return {};
            }
        }

        async function addResIdsToDropDown() {
            const dropdown = document.getElementById("resIdDropDown");
            const resIDs = await fetchResIds();

            const uniqueResIds = Object.keys(resIDs);

            uniqueResIds.forEach((id) => {
                const opt = document.createElement("option");
                opt.value = id;
                opt.textContent = id;
                dropdown.appendChild(opt);
            });
        }

        function resSelectionHandler() {
            const dropdown = document.getElementById("resIdDropDown");
            const selectVal = dropdown.value;

            if (!selectVal || selectVal == "") {
                updateStatTable([]);
                updateStatChart([]);
                return;
            }

            console.log(`Selected resident ID: ${selectVal}`);
            // Logic
            fetchResStats(selectVal).then((res_data) => {
                if (res_data.length === 0) {
                    console.error("No data available for the selected resident.");
                    return;
                }

                console.log("Data for selected resident: ", res_data);
                updateStatTable(res_data);
                updateStatChart(res_data);
            });
        }

        addResIdsToDropDown();

    </script>
    

    

</body>
</html>