<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenGuard - Login</title>
    <link href="/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div class="centered-div">        
        <!-- <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/api/test">API Test</a>
        </nav> -->
        
        <div>
            <br>
            <br>
            <br>
            <br>
            <h1>Login</h1>
            <br>

            <!-- <p>This is a static page to test server routing.</p> -->
        </div>

        <div>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit" class="login-button">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>