<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenGuard - Om</title>
    <link href="/stylesheet.css" rel="stylesheet">
</head>
<body>
    <!-- Drop down menu -->
    <nav class="DropDownMenu">
        <button class="DropDownButton">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.thenounproject.com%2Fpng%2F1123247-200.png&f=1&nofb=1&ipt=01f476a25d20356b4901c217bd2fe9329571477b13b9006da797367ca4d2ddd4&ipo=images", style="width: 40; height:40px;">
        </button>

        <!-- Drop down menu buttons -->
        <nav class="DropDownMenuContent">
            <a href="forside.html">Forside</a>
            <a href="stats.html">Statistik</a>
            <a href="om.html">Om</a>
        </nav>
    </nav>

    <!-- Page header -->
    <div class="colored-box">
        <div class="centered-div">
            <h1 style="margin-bottom: 1%; margin-top: 1%;">Om KitchenGuard</h1>
        </div>
    </div>
    
    
    
    <div class="centered-div">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1682668938117-a45b79fb4476%3Fcrop%3Dentropy%26amp%3Bcs%3Dsrgb%26amp%3Bfm%3Djpg%26amp%3Bixid%3DM3w0MjA4MDF8MHwxfHNlYXJjaHwyOHx8cHJvamVjdCUyMG1hbmFnZW1lbnQlMjBJVCUyMHByb2plY3RzJTIwZnVuZGFtZW50YWwlMjBjb25jZXB0c3xlbnwxfDB8fHwxNzA0Mjc2ODg3fDA%26amp%3Bixlib%3Drb-4.0.3%26amp%3Bq%3D85%26amp%3Bw%3D800%26amp%3Bfit%3Dcrop%26amp%3Bh%3D300%26amp%3Bq%3D75%26amp%3Bfm%3Dwebp&f=1&nofb=1&ipt=a629cf08d2ea4be0bc594da4debd2e2bb20c88b3aa49e43a5315f0224006fa2b"
        alt="" style="width: 100%; z-index: 1; position: relative;">

        <div class="colored-box" style="float: left; width: 40%; height: 55%; position: absolute; z-index: 2;">
            <p>
                Vi er en gruppe studerende, der har udviklet KitchenGuard, et avanceret sikkerhedssystem designet til at overvåge brugen af komfuret og registrere, om der er nogen til stede i køkkenet. Systemet alarmerer brugeren og eventuelt pårørende, hvis der opstår en farlig situation. Vores mål med dette projekt er at øge sikkerheden i køkkenet og skabe tryghed for både brugere og deres familier gennem teknologi og innovation.
            </p>
        </div>

        <div class="colored-box" style="float: right; width: 40%; height: 55%; position: absolute;">

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    

</body>
</html>